week-3/assignments/activity-1.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (productName, manufacturer, description*, prices, productItems)>
<!ATTLIST product sku CDATA #REQUIRED>
<!ATTLIST product createdAt CDATA #REQUIRED>
<!ATTLIST product shippable (true | false) "false">
<!ELEMENT productName (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ATTLIST manufacturer id CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT prices (price+)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT productItems (#PCDATA)>